
body{
    background-color:grey;
    color:blue;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin:250px auto;
    border:3px solid blue;
};